.home-slide-container {
  position: relative;
  width: 84%;
  z-index: -1;
  margin-left: 16%;
  margin-bottom: 20px;
}

.home-slide-container img {
  width: 100%;
  object-fit: fill;
}

.home-slide-image-container {
  position: relative;
}

.home-slide-image-container img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Or set a specific height */
}

.home-slide-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -60%);
  color: white;
  text-align: center;
}
