.mock-screen {
  height: 100vh;

  background: linear-gradient(#6a14d9, #6262e2);
  position: relative;
  padding: 40px;
  font-weight: bolder;
  color: white;
}

body h1,h2,h6 {
  margin: 0;

}

.mock-container {
  display: flex;

  flex-direction: column;
  gap: 130px;
}

.mock-container h1 {
  text-align: center;
  font-weight: bolder;
  color: white;
}

.mock-container h2 {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  font-weight: bolder;
  color: white;
}

.mock-main {
  display: flex;
  display: flex;
  align-items: center;
  padding-left: 131px;
}

.mock-main img {
  padding: 5px;
  height: 60px;
  width: 60px;
}

.audio {
  display: flex;
  width: 70%;
  justify-content: center;
}

.mock {
  display: flex;

  left: 40px;
  top: 242px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mock img {
  height: 30px;
  width: 30px;
}

#audio-btn {

  border-radius: 100px;
}

.audio-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 725px;
  gap: 409px;
  align-items: center;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer {
  width: 40px;
  height: 40px;
}

#video-player {
  bottom: 40px;

  width: 400px;
  height: 200px;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  animation: fadeInOut 5s linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.video-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nxt-btn {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 15px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.recording-animation {
  animation: pulse 2s infinite;
}

