.slide-image-container {
  position: relative;
}

.slide-image-container img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Or set a specific height */
}

.slide-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -100%);
  color: white;
  text-align: center;
}

