.cdashboard {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #1b1a1e;
  padding: 20px;
  overflow-y: auto;
  padding-left: 0px;
}

.cdashboard-link {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;
  margin-bottom: 16px;
}

.cdashboard-link a:hover {
  color: #ffffff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.cdashboard-link a {
  text-decoration: none;
  color: #7c7c7c;
  font-family: Arial, sans-serif;
}

.cdash-icon {
  height: 20px;
  width: 20px;
  padding: 4px;
  margin-right: 8px;
  background-color: white;
  border-radius: 50px;
}

ul.cdashboard-link {
  padding-left: 0px;
}
