.heading2{
  height: 50px;
  background-color:white;
  margin-left: 300px ;

}

.search2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center;  */
    background-color: white;
    margin-left: 800px;
    padding-left: 1px;
    position: absolute;
    padding-top: 10px;
    margin-top: 5px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    gap: 10px;
  }
  .search2 input{
    margin-bottom: 10px;
    border: none;
  }
  .search2 button {
    text-decoration: none;
    color: #fff;
    height: 30px;
    width: 70px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #54249b;
    transition: box-shadow 0.2s ease-in-out;
    
  }
  
  .search2 button:hover {
    box-shadow: 0 0 2px 2px rgb(206, 183, 255);
  }


  .title2{
    height: 200px;
    background-color: rgb(34, 34, 176);
    margin-left: 280px ;
    align-items: center;
  }

  .title2 h2{
    width: 700px;
    padding-top: 20px;
    margin-left: 100px;
    color: #fff;
    
  }


  .title2 h1{
    padding-top: 20px;
    width: 500px;
    margin-left: 100px;
    color: #fff;
    
  }


  .titleimg2 img{
    height: 150px;
    margin-left: 950px; 
    
  }


  .titleimg2{
    padding-bottom: 10px;
    position: absolute;
    bottom: 500px;
    
  }


  .table2{
    padding-top: 20px;
    padding-left: 200px;
    margin-left: 300px;
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
  }

  /* .card1{
    display: flex;
    flex-direction: row;
  }

  .card2{
    display: flex;
    flex-direction: row;
  } */
/* 
  .card{
    width:780px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  } */
  .card-main{
    width: 800px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    /* flex-direction: row; */
    /* justify-content: space-between; */

    justify-items: flex-start; 
  }
.card-main button{
  
  text-decoration: none;
  color: #fff;
  height: 30px;
  width: 100px;
  /* margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 10px; */
  position: relative;
  left: 300px;
  border-radius: 10px;
  background-color: #249b24;
  transition: box-shadow 0.2s ease-in-out;

}

  .card-main input{
    width: 350px;
    background-color: rgb(41, 39, 39);
    padding: 3px; 
    margin-top: 1px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    color: white;
  }

  label {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #7256FF;
}