.dashboard {
    position: fixed; /* Keep it fixed on the screen */
    top: 0;
    left: 0;
    height: 100vh; /* Full screen height */
    width: 250px; /* Adjust width as needed */
    background-color: #303030; /* Adjust background color */
    padding: 20px;
    overflow-y: auto; /* Enable scrolling for long content */
  }
  
  /* Other dashboard styles */
  