.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
  background-color: #212121;
}

.login-container {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container gbtn{
  width: 200px;
}




.login-container input {

  border: 0;
  height: 30px;
  width: 280px;
  margin: 10px;
  padding-left: 10px;
  border-radius: 9px;
}

.login-container img {
  
  padding: 20px;
  height: 100px;
  width: 100px;
}

.login-container input:focus {

  outline: none;
  border: none;
}

.login-container button {

  background-color: #54249b;
  
  border: 0;
  margin: 10px;
  outline: none;
  width: 292px;
  height: 30px;
  border-radius: 9px;
  color: white;
} 

.singleLine {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.line {

  height: 0.5px;
  width: 130px;
  margin: 3px;
  background-color: rgb(68, 68, 68);
  
}

.singleLine span {

  color: white;
  padding: 5px;
}
