.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 2rem 0;
  height: 85vh;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  height: 450px;
}

h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  color: white;
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
}

.submit-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.success-message {
  color: rgb(100, 234, 100);
}
